@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');





html, body {
  margin: 0px;
  padding: 0px;
  background-color: #E5E5E5;
  height: 100%;
  width: 100%;
  --main-border-radius: 16px;
  --color1: #FF6D43;
  font-family: 'Montserrat', sans-serif;
}

.nav-link {
  color: var(--color1) !important;
}

.nav-link i {
  font-size: larger;
}

.form-control{
  border-radius: var(--main-border-radius);
  width: 30em !important;

}
.form-control:focus {
  box-shadow: 0 0 0 .15rem var(--color1);
}



