@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');





html, body {
  margin: 0px;
  padding: 0px;
  background-color: #E5E5E5;
  height: 100%;
  width: 100%;
  --main-border-radius: 16px;
  --color1: #FF6D43;
  font-family: 'Montserrat', sans-serif;
}

.nav-link {
  color: var(--color1) !important;
}

.nav-link i {
  font-size: larger;
}

.form-control{
  border-radius: var(--main-border-radius);
  width: 30em !important;

}
.form-control:focus {
  box-shadow: 0 0 0 .15rem var(--color1);
}



.container {
}

#row-btns1 .btn {
  border-radius: var(--main-border-radius);
}

#btn-camera {
  background-color: #18A0FB;
}

#btn-apps {
  background-color: #FF7D04;
}

#date {
  font-size: 24px;
  color: #8C8C8C;
}

#time {
  font-size: 64px;
  color: #333333;
}

#weather {
  font-size: 24px;
  color: #7E7E7E;
}

.row-btns1 .col {
  padding: 0px;

}

.col {
  border-radius: var(--main-border-radius);
}

#btns-row .col {
  border-radius: 5px;
  margin: 15px;
  width: 80px;
  height: 80px;
}

#btn-weather {
  background-color: #00C2FF;
}

#btn-alarm {
  background-color: #FF8743;
}

#btn-calendar {
  background-color: #4CAF50;
}

#reminders {
  border-radius: var(--main-border-radius);
  min-height: 50%;
  margin: 0px !important;
}

#reminders-list {

}

.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 2s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.overlay-content {
  position: relative;
  top: 10%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: var(--color1);
}







