@import 'https://fonts.googleapis.com/css?family=Share+Tech+Mono';

@font-face {
  font-family: "Digital";
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot");
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff") format("woff"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7") format("svg");
}



html, body {
  margin: 0px;
  padding: 0px;
  background-color: #E5E5E5;
  height: 100%;
  width: 100%;
  --main-border-radius: 16px;

}

div {
  border: 1px solid black;
}

.header {
  overflow: hidden;
  background-color: white;
  padding: 30px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search {
  position: absolute;
  width: 455px;
  height: 40px;
  border-radius: var(--main-border-radius);
}

.header-right a{
  padding: 0px 10px;
}
